.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.scroll-button {
  background-color: var(--button-bg);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.scroll-button:hover {
  background-color: var(--accent-color-1);
  transform: scale(1.1);
}
