.navbar h1 {
  transition: transform 0.3s ease;
  background: linear-gradient(90deg, #f953c6, #b91d73);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.navbar h1:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 15px 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  background-color: #2A2A32;
  border-bottom: 0.5px solid rgba(6, 182, 212, 0.4);
}

.navbar-links ul {
  display: flex;
  list-style-type: none;
  column-gap: 40px;
}

.navbar-link p {
  text-decoration: none;
  color: #ffffff;
}

.navbar-link p:hover {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .navbar-link hr {
  width: 50%;     
  height: 1.5px;
  margin: 5px auto;
  border: none;
  background-color: #06b6d4; 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-link:hover hr {
  transform: scaleX(1.2);
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
} */

.anchor-link{
  text-decoration: none;
  color: #ffffff;
}

.navbar-menu-toggle {
  display: none;
  cursor: pointer;
}


/* Side Navbar */
.side-navbar{
  background-color: white;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%; /* start hidden */
  padding: 20px;
  color: black;
  transition: left 0.5s ease;
  z-index: 999;
}

.side-navbar-show {
  left: 0;
}

.side-navbar i{
    cursor: pointer;
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-link a{
    text-decoration: none;
    color: black;
}

.side-navbar-link a:hover{
    text-decoration: underline;
}

/* Media Query */
@media screen and (max-width:950px){
    .navbar-menu-toggle{
        display: block;
    }
    
    .navbar-link{
        display: none;
    }
}