*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: #1f1f28; 
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body::-webkit-scrollbar {
  display: none;
}